<!-- Sticky Footer -->
<footer class="footer mt-auto py-3 bg-light" >
    <div class="container text-center">
      <span class="text-muted">Made By <a href="https://github.com/skhangns">Sohaeb,</a> <a href="https://github.com/llting592">Lloyd,</a> and <a href="https://github.com/Koilparampil">Chris</a></span>
    </div>
</footer>
<!-- Sticky Footer -->