<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
		body {padding-top:80px;};
        a.google {background: #4787ed;};
        a.button.google {box-sizing: border-box;
                  display: block;
                  padding: 10px;
                  width: 100%;
                  border-radius: 3px;
                  background: #000;
                  font-size: 14px;
                  font-weight: 700;
                  text-align: center;
                  text-decoration: none;
                  color: white;};
	</style>
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1><span class="fa fa-lock"></span> Node Authentication</h1>

            <p>Login or Register with:</p>

            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
            <hr>
            <a style=" 
            color: white; 
            background: #4787ed; 
            padding: 5px;
            width: 50%;
            border-radius: 3px;
            font-size: 14px;
            font-weight: 700;
            align-items: center;
            text-decoration: none;"class="btn center google" href="/login/federated/google">Sign in with Google</a>
        </div>
    </div>
</body>
</html>