<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>FoodHeroes</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" /> <!-- load fontawesome -->
    <style>
		body {padding-top:80px;};
	</style>
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1><span></span>Food Heroes</h1>

            <p>Login or Register with:</p>

            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
            <hr>
            <a style=" 
            color: white; 
            background: #4787ed; 
            padding: 5px;
            width: 50%;
            border-radius: 3px;
            font-size: 14px;
            font-weight: 700;
            align-items: center;
            text-decoration: none;"class="btn google" href="/auth/google">Sign in with Google</a>
        </div>
    </div>
</body>
</html>