.boxed{
    border: 1px solid black ;
}

@media screen and (max-width: 720px) {
    .column {
      width: 50%;
    }
  }
  
  
  @media screen and (max-width: 420px) {
    .column {
      width: 100%;
    }
  }
  